autocommand==2.2.2
backports.tarfile==1.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
configparser==7.0.0
future==0.18.3
idna==3.7
inflect==7.2.0
irc==20.4.0
irc-bot==1.0.41
isodate==0.6.1
jaraco.collections==5.0.1
jaraco.context==5.3.0
jaraco.functools==4.0.0
jaraco.logging==3.3.0
jaraco.stream==3.0.3
jaraco.text==3.12.0
Jinja2==3.1.6
MarkupSafe==2.1.5
more-itertools==10.2.0
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==9.1.0
mysqlclient==2.2.4
pytz==2024.1
requests==2.32.0
six==1.16.0
tempora==5.5.1
typeguard==4.2.1
typing_extensions==4.11.0
urllib3==2.2.2
